.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 128px); 
    background-color: #5c0101; 
    padding: 32px;
}

.card {
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 24px;
    border-radius: 16px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.toolbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    color: #fcfeff; 
    margin-bottom: 16px;
}

.new-button {
    background-color: #5b0000;
    color: white;
    border-radius: 8px;
    text-transform: none;
}

.new-button:hover {
    background-color: #eef1f4;
}

.table-header-cell {
    font-weight: bold;
    color: #ffe0e0; 
}

.table-cell {
    color: #e1cbcb; 
}

.actions-button {
    margin: 0 4px;
}
